<div class="layout">

  <aside class="sidebar">
    <h2>Customer Portal</h2>

    <nav>
      <a routerLink="/customer/dashboard" routerLinkActive="active">
        Dashboard
      </a>

      <a routerLink="/customer/request-service" routerLinkActive="active">
        Request Service
      </a>

      <a routerLink="/customer/payments" routerLinkActive="active">
        Payments
      </a>

    </nav>

    <button class="logout" (click)="logout()">Logout</button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>
