/* Page background */
.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff5f7; 
}


.auth-card {
  width: 420px;
  padding: 32px;
  border-radius: 16px;
  background: #ffffff;          
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

/* Title */
.auth-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 600;
  color: #111;
}

/* Inputs */
.full-width {
  width: 100%;
  margin-bottom: 18px;
}

/* Button */
.auth-button {
  width: 100%;
  height: 48px;
  border-radius: 24px;
  font-size: 16px;
  margin-top: 12px;
}

/* Footer text */
.auth-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.auth-footer a {
  color: #d81b60;
  font-weight: 600;
  text-decoration: none;
}
